html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
font-weight: inherit;
font-style: inherit;
font-family: inherit;
font-size: 100%;
vertical-align: baseline;
margin: 0;
padding: 0;
border: 0;
outline: 0;
line-height: 1;
color: #000;
background: #fff;
border-collapse: separate;
border-spacing: 0;
vertical-align: middle;
text-align: left;
font-weight: normal;
vertical-align: middle;
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.ellip {
  display: block;
  height: 100%;
}
.ellip-line {
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}
.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
}
body {
  height: 100%;
  font-family: sans-serif;
}
.All {
  min-width: 1005px;
}
.All a:hover img {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.All .Global {
  position: absolute;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.All .Global .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  overflow: visible;
}
.All .Global .inner ul {
  zoom: 1;
}
.All .Global .inner ul:before,
.All .Global .inner ul:after {
  content: "";
  display: table;
}
.All .Global .inner ul:after {
  clear: both;
}
.All .Global .inner ul li {
  float: left;
}
.All .Global .inner ul li a {
  display: block;
  height: 68px;
  line-height: 68px;
  padding: 0 30px;
}
.All .Global .inner p.login {
  position: absolute;
  right: 0;
  top: 0;
}
.All .Mail {
  position: absolute;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.All .Mail .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  overflow: visible;
}
.All .Mail .inner ul {
  zoom: 1;
}
.All .Mail .inner ul:before,
.All .Mail .inner ul:after {
  content: "";
  display: table;
}
.All .Mail .inner ul:after {
  clear: both;
}
.All .Mail .inner ul li {
  float: left;
}
.All .Mail .inner ul li a {
  display: block;
  height: 68px;
  line-height: 68px;
  padding: 0 30px;
}
.All .Mail .inner p.login {
  position: absolute;
  right: 0;
  top: 0;
}
.All .Visual .photo {
  position: static;
  width: 100%;
  overflow: hidden;
  height: 710px;
}
.All .Visual .photo img {
  width: 100%;
}
.All .Parallax .photo {
  position: static;
  width: 100%;
  overflow: hidden;
  height: 710px;
}
.All .Parallax .photo img {
  width: 100%;
}
.All .Sitesummary {
  position: absolute;
  top: 0;
  width: 100%;
}
.All .Sitesummary .inner {
  position: relative;
  width: 1005px;
  margin: 0 auto;
}
.All .Sitesummary .inner h1 {
  text-align: center;
  padding-top: 180px;
}
.All .About {
  position: absolute;
  top: 0;
  width: 100%;
}
.All .About .inner {
  position: relative;
  width: 1005px;
  margin: 0 auto;
}
.All .About .inner h1 {
  text-align: center;
  padding-top: 180px;
}
.All .Featured {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: url("../i/bg01_l.png");
}
.All .Featured .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.All .Featured .inner h1 {
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
  margin-left: 40px;
}
.All .Featured .inner .content {
  position: relative;
  z-index: 2;
}
.All .Featured .inner .content .bx-wrapper {
  padding: 20px;
  width: 901px;
  background: #fff;
}
.All .People {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: url("../i/bg01_l.png");
}
.All .People .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.All .People .inner h1 {
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
  margin-left: 40px;
}
.All .People .inner .content {
  position: relative;
  z-index: 2;
}
.All .People .inner .content .bx-wrapper {
  padding: 20px;
  width: 901px;
  background: #fff;
}
.All .Photos {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: #232426;
}
.All .Photos .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1000px;
}
.All .Photos .inner h1 {
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
  margin-left: 38px;
}
.All .Photos .inner .content {
  position: relative;
  z-index: 2;
}
.All .Photos .inner .content .grid .gridItem {
  width: 190px;
  padding: 5px;
}
.All .Photos .inner .content .grid .gridItem img {
  vertical-align: bottom;
  width: 100%;
}
.All .Pictures {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: #232426;
}
.All .Pictures .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1000px;
}
.All .Pictures .inner h1 {
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
  margin-left: 38px;
}
.All .Pictures .inner .content {
  position: relative;
  z-index: 2;
}
.All .Pictures .inner .content .grid .gridItem {
  width: 190px;
  padding: 5px;
}
.All .Pictures .inner .content .grid .gridItem img {
  vertical-align: bottom;
  width: 100%;
}
.All .Pashalist {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: url("../i/bg_02_l.png");
}
.All .Pashalist .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.All .Pashalist .inner .content {
  position: relative;
  z-index: 2;
}
.All .Pashalist .inner .content .top5 {
  padding-bottom: 32px;
  padding-top: 31px;
  width: 730px;
  background: #fff;
  float: left;
  padding-top: 21px;
}
.All .Pashalist .inner .content .top5 h1 {
  padding-left: 39px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist {
  margin-top: -62px;
  margin-left: 32px;
  margin-right: 32px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem {
  padding-top: 21px;
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #fff;
  position: relative;
  padding: 25px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem:nth-child(odd) {
  background: url("../i/bg_03-1_l.png");
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem:nth-child(even) {
  background: url("../i/bg_03-2_l.png");
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 {
  zoom: 1;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:before,
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:after {
  content: "";
  display: table;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:after {
  clear: both;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 {
  width: 130px;
  height: 130px;
  float: left;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 .photo {
  vertical-align: bottom;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 .photo img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 0px #b1b0b0;
  box-shadow: 0px 2px 0px #b1b0b0;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 {
  width: 450px;
  float: right;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .username {
  font-size: 30px;
  color: #656565;
  font-weight: bold;
  line-height: 1;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .address {
  font-size: 17px;
  color: #656565;
  line-height: 1.765;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .summary {
  padding-top: 13px;
  padding-left: 36px;
  background: url("../i/top5pashalist-quote.png") no-repeat;
  font-size: 13px;
  color: #656565;
  line-height: 1.615;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 {
  height: 30px;
  zoom: 1;
  margin-top: 10px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:before,
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:after {
  content: "";
  display: table;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:after {
  clear: both;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-1 {
  float: left;
  width: 130px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-1 .favorites {
  padding-left: 30px;
  background: url("../i/top5pashalist-heart.png") no-repeat;
  background-position: left center;
  font-size: 24px;
  color: #656565;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 {
  float: right;
  width: 450px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .photos {
  font-size: 24px;
  color: #656565;
  font-weight: bold;
  background: url("../i/top5pashalist-photos.png") no-repeat;
  background-position: left center;
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials {
  margin-left: 10px;
  background: url("../i/top5pashalist-slash2.png") no-repeat;
  background-position: left center;
  text-align: right;
  padding-left: 30px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a {
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a img {
  vertical-align: middle;
}
.All .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a:first-child {
  margin-left: 0;
}
.All .Pashalist .inner .content .others {
  width: 253px;
  float: right;
  margin-top: 30px;
}
.All .Pashalist .inner .content .others h1 img {
  vertical-align: bottom;
}
.All .Pashalist .inner .content .others ul {
  background: #313131;
}
.All .Pashalist .inner .content .others ul li {
  position: relative;
  border-bottom: 1px solid #3a3a3a;
  padding: 13px;
  overflow: hidden;
}
.All .Pashalist .inner .content .others ul li .box1 {
  zoom: 1;
}
.All .Pashalist .inner .content .others ul li .box1:before,
.All .Pashalist .inner .content .others ul li .box1:after {
  content: "";
  display: table;
}
.All .Pashalist .inner .content .others ul li .box1:after {
  clear: both;
}
.All .Pashalist .inner .content .others ul li .box1 .box1-1 {
  float: left;
  width: 40px;
}
.All .Pashalist .inner .content .others ul li .box1 .box1-1 .photo img {
  vertical-align: bottom;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.9);
  box-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}
.All .Pashalist .inner .content .others ul li .box1 .box1-2 {
  float: right;
  width: 172px;
}
.All .Pashalist .inner .content .others ul li .box1 .box1-2 .username {
  color: #fff;
  font-size: 17px;
}
.All .Pashalist .inner .content .others ul li .box1 .box1-2 .favorites {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  background: url("../i/pashalist-heart.png") no-repeat;
  background-position: left center;
  padding-left: 20px;
}
.All .Pashalist .inner .content .others ul li .box2 .summary {
  margin-top: 10px;
  color: #989898;
  font-size: 11px;
  line-height: 1.455;
}
.All .Pashalist .inner .content .others .viewall {
  text-align: right;
}
.All .Tutorials {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: url("../i/bg_02_l.png");
}
.All .Tutorials .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.All .Tutorials .inner .content {
  position: relative;
  z-index: 2;
}
.All .Tutorials .inner .content .top5 {
  padding-bottom: 32px;
  padding-top: 31px;
  width: 730px;
  background: #fff;
  float: left;
  padding-top: 21px;
}
.All .Tutorials .inner .content .top5 h1 {
  padding-left: 39px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist {
  margin-top: -62px;
  margin-left: 32px;
  margin-right: 32px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem {
  padding-top: 21px;
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #fff;
  position: relative;
  padding: 25px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem:nth-child(odd) {
  background: url("../i/bg_03-1_l.png");
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem:nth-child(even) {
  background: url("../i/bg_03-2_l.png");
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 {
  zoom: 1;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:before,
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:after {
  content: "";
  display: table;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:after {
  clear: both;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 {
  width: 130px;
  height: 130px;
  float: left;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 .photo {
  vertical-align: bottom;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 .photo img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 0px #b1b0b0;
  box-shadow: 0px 2px 0px #b1b0b0;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 {
  width: 450px;
  float: right;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .username {
  font-size: 30px;
  color: #656565;
  font-weight: bold;
  line-height: 1;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .address {
  font-size: 17px;
  color: #656565;
  line-height: 1.765;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .summary {
  padding-top: 13px;
  padding-left: 36px;
  background: url("../i/top5pashalist-quote.png") no-repeat;
  font-size: 13px;
  color: #656565;
  line-height: 1.615;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 {
  height: 30px;
  zoom: 1;
  margin-top: 10px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:before,
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:after {
  content: "";
  display: table;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:after {
  clear: both;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-1 {
  float: left;
  width: 130px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-1 .favorites {
  padding-left: 30px;
  background: url("../i/top5pashalist-heart.png") no-repeat;
  background-position: left center;
  font-size: 24px;
  color: #656565;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 {
  float: right;
  width: 450px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .photos {
  font-size: 24px;
  color: #656565;
  font-weight: bold;
  background: url("../i/top5pashalist-photos.png") no-repeat;
  background-position: left center;
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials {
  margin-left: 10px;
  background: url("../i/top5pashalist-slash2.png") no-repeat;
  background-position: left center;
  text-align: right;
  padding-left: 30px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a {
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a img {
  vertical-align: middle;
}
.All .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a:first-child {
  margin-left: 0;
}
.All .Tutorials .inner .content .others {
  width: 253px;
  float: right;
  margin-top: 30px;
}
.All .Tutorials .inner .content .others h1 img {
  vertical-align: bottom;
}
.All .Tutorials .inner .content .others ul {
  background: #313131;
}
.All .Tutorials .inner .content .others ul li {
  position: relative;
  border-bottom: 1px solid #3a3a3a;
  padding: 13px;
  overflow: hidden;
}
.All .Tutorials .inner .content .others ul li .box1 {
  zoom: 1;
}
.All .Tutorials .inner .content .others ul li .box1:before,
.All .Tutorials .inner .content .others ul li .box1:after {
  content: "";
  display: table;
}
.All .Tutorials .inner .content .others ul li .box1:after {
  clear: both;
}
.All .Tutorials .inner .content .others ul li .box1 .box1-1 {
  float: left;
  width: 40px;
}
.All .Tutorials .inner .content .others ul li .box1 .box1-1 .photo img {
  vertical-align: bottom;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.9);
  box-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}
.All .Tutorials .inner .content .others ul li .box1 .box1-2 {
  float: right;
  width: 172px;
}
.All .Tutorials .inner .content .others ul li .box1 .box1-2 .username {
  color: #fff;
  font-size: 17px;
}
.All .Tutorials .inner .content .others ul li .box1 .box1-2 .favorites {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  background: url("../i/pashalist-heart.png") no-repeat;
  background-position: left center;
  padding-left: 20px;
}
.All .Tutorials .inner .content .others ul li .box2 .summary {
  margin-top: 10px;
  color: #989898;
  font-size: 11px;
  line-height: 1.455;
}
.All .Tutorials .inner .content .others .viewall {
  text-align: right;
}
.All .Onlineshop {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: #232426;
}
.All .Onlineshop .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.All .Onlineshop .inner h1 {
  margin-left: 41px;
}
.All .Onlineshop .inner ul {
  margin-top: -89px;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 32px;
  zoom: 1;
}
.All .Onlineshop .inner ul:before,
.All .Onlineshop .inner ul:after {
  content: "";
  display: table;
}
.All .Onlineshop .inner ul:after {
  clear: both;
}
.All .Onlineshop .inner ul li {
  float: left;
  background: #fff;
  width: 304px;
  margin-right: 14px;
  margin-bottom: 14px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.All .Onlineshop .inner ul li .photo {
  width: 304px;
  height: 207px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.All .Onlineshop .inner ul li .photo img {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  vertical-align: bottom;
  width: 100%;
  margin-top: -10px;
}
.All .Onlineshop .inner ul li .name {
  margin-top: 19px;
  margin-left: 14px;
  margin-right: 14px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  line-height: 1.15;
  padding-bottom: 7px;
  border-bottom: 1px solid #b7b7b7;
}
.All .Onlineshop .inner ul li .summary {
  margin-left: 14px;
  margin-right: 14px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 10px;
}
.All .Onlineshop .inner ul li .price {
  margin-top: 23px;
  font-size: 20px;
  padding-left: 14px;
  background: url("../i/bg_04_l.png") #b9b9ba;
  padding-top: 9px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e0e0e1;
  color: #333;
  font-weight: bold;
  line-height: 0.9;
  text-shadow: 0.5px 0.866px 0px #fff;
  -moz-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  position: relative;
}
.All .Onlineshop .inner ul li .price a.cart {
  position: absolute;
  top: -13px;
  left: 220px;
}
.All .Onlineshop .inner ul li .productCode {
  margin: 9px 14px 9px;
  font-size: 10px;
  color: #333;
  line-height: 2.2;
  -moz-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
}
.All .Books {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: #232426;
}
.All .Books .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.All .Books .inner h1 {
  margin-left: 41px;
}
.All .Books .inner ul {
  margin-top: -89px;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 32px;
  zoom: 1;
}
.All .Books .inner ul:before,
.All .Books .inner ul:after {
  content: "";
  display: table;
}
.All .Books .inner ul:after {
  clear: both;
}
.All .Books .inner ul li {
  float: left;
  background: #fff;
  width: 304px;
  margin-right: 14px;
  margin-bottom: 14px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.All .Books .inner ul li .photo {
  width: 304px;
  height: 207px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.All .Books .inner ul li .photo img {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  vertical-align: bottom;
  width: 100%;
  margin-top: -10px;
}
.All .Books .inner ul li .name {
  margin-top: 19px;
  margin-left: 14px;
  margin-right: 14px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  line-height: 1.15;
  padding-bottom: 7px;
  border-bottom: 1px solid #b7b7b7;
}
.All .Books .inner ul li .summary {
  margin-left: 14px;
  margin-right: 14px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 10px;
}
.All .Books .inner ul li .price {
  margin-top: 23px;
  font-size: 20px;
  padding-left: 14px;
  background: url("../i/bg_04_l.png") #b9b9ba;
  padding-top: 9px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e0e0e1;
  color: #333;
  font-weight: bold;
  line-height: 0.9;
  text-shadow: 0.5px 0.866px 0px #fff;
  -moz-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  position: relative;
}
.All .Books .inner ul li .price a.cart {
  position: absolute;
  top: -13px;
  left: 220px;
}
.All .Books .inner ul li .productCode {
  margin: 9px 14px 9px;
  font-size: 10px;
  color: #333;
  line-height: 2.2;
  -moz-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
}
.All .Sponsorship {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}
.All .Sponsorship div.inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1048px;
}
.All .Sponsorship div.inner h1 {
  margin-left: 58px;
}
.All .Sponsorship div.inner .content {
  position: relative;
  z-index: 2;
}
.All .Sponsorship div.inner .content ul {
  margin-top: -79px;
  zoom: 1;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.All .Sponsorship div.inner .content ul:before,
.All .Sponsorship div.inner .content ul:after {
  content: "";
  display: table;
}
.All .Sponsorship div.inner .content ul:after {
  clear: both;
}
.All .Sponsorship div.inner .content ul li {
  float: left;
  margin-right: 14px;
  margin-bottom: 17px;
}
.All .Sponsorship div.inner .content ul li:nth-child(3n) {
  margin-right: 0;
}
.All .Author {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}
.All .Author div.inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1048px;
}
.All .Author div.inner h1 {
  margin-left: 58px;
}
.All .Author div.inner .content {
  position: relative;
  z-index: 2;
}
.All .Author div.inner .content ul {
  margin-top: -79px;
  zoom: 1;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.All .Author div.inner .content ul:before,
.All .Author div.inner .content ul:after {
  content: "";
  display: table;
}
.All .Author div.inner .content ul:after {
  clear: both;
}
.All .Author div.inner .content ul li {
  float: left;
  margin-right: 14px;
  margin-bottom: 17px;
}
.All .Author div.inner .content ul li:nth-child(3n) {
  margin-right: 0;
}
.All .PageTop {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  text-align: center;
}
.All footer {
  background: #232426;
  height: 91px;
}
.All footer .inner {
  width: 1005px;
  margin: 0 auto;
}
.All footer .inner p {
  text-align: right;
  line-height: 91px;
  color: #fff;
  font-size: 10px;
  color: #dedede;
}
.Wrap {
  min-width: 1005px;
}
.Wrap a:hover img {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.Wrap .Global {
  position: absolute;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.Wrap .Global .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  overflow: visible;
}
.Wrap .Global .inner ul {
  zoom: 1;
}
.Wrap .Global .inner ul:before,
.Wrap .Global .inner ul:after {
  content: "";
  display: table;
}
.Wrap .Global .inner ul:after {
  clear: both;
}
.Wrap .Global .inner ul li {
  float: left;
}
.Wrap .Global .inner ul li a {
  display: block;
  height: 68px;
  line-height: 68px;
  padding: 0 30px;
}
.Wrap .Global .inner p.login {
  position: absolute;
  right: 0;
  top: 0;
}
.Wrap .Mail {
  position: absolute;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.Wrap .Mail .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  overflow: visible;
}
.Wrap .Mail .inner ul {
  zoom: 1;
}
.Wrap .Mail .inner ul:before,
.Wrap .Mail .inner ul:after {
  content: "";
  display: table;
}
.Wrap .Mail .inner ul:after {
  clear: both;
}
.Wrap .Mail .inner ul li {
  float: left;
}
.Wrap .Mail .inner ul li a {
  display: block;
  height: 68px;
  line-height: 68px;
  padding: 0 30px;
}
.Wrap .Mail .inner p.login {
  position: absolute;
  right: 0;
  top: 0;
}
.Wrap .Visual .photo {
  position: static;
  width: 100%;
  overflow: hidden;
  height: 710px;
}
.Wrap .Visual .photo img {
  width: 100%;
}
.Wrap .Parallax .photo {
  position: static;
  width: 100%;
  overflow: hidden;
  height: 710px;
}
.Wrap .Parallax .photo img {
  width: 100%;
}
.Wrap .Sitesummary {
  position: absolute;
  top: 0;
  width: 100%;
}
.Wrap .Sitesummary .inner {
  position: relative;
  width: 1005px;
  margin: 0 auto;
}
.Wrap .Sitesummary .inner h1 {
  text-align: center;
  padding-top: 180px;
}
.Wrap .About {
  position: absolute;
  top: 0;
  width: 100%;
}
.Wrap .About .inner {
  position: relative;
  width: 1005px;
  margin: 0 auto;
}
.Wrap .About .inner h1 {
  text-align: center;
  padding-top: 180px;
}
.Wrap .Featured {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: url("../i/bg01_l.png");
}
.Wrap .Featured .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.Wrap .Featured .inner h1 {
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
  margin-left: 40px;
}
.Wrap .Featured .inner .content {
  position: relative;
  z-index: 2;
}
.Wrap .Featured .inner .content .bx-wrapper {
  padding: 20px;
  width: 901px;
  background: #fff;
}
.Wrap .People {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: url("../i/bg01_l.png");
}
.Wrap .People .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.Wrap .People .inner h1 {
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
  margin-left: 40px;
}
.Wrap .People .inner .content {
  position: relative;
  z-index: 2;
}
.Wrap .People .inner .content .bx-wrapper {
  padding: 20px;
  width: 901px;
  background: #fff;
}
.Wrap .Photos {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: #232426;
}
.Wrap .Photos .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1000px;
}
.Wrap .Photos .inner h1 {
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
  margin-left: 38px;
}
.Wrap .Photos .inner .content {
  position: relative;
  z-index: 2;
}
.Wrap .Photos .inner .content .grid .gridItem {
  width: 190px;
  padding: 5px;
}
.Wrap .Photos .inner .content .grid .gridItem img {
  vertical-align: bottom;
  width: 100%;
}
.Wrap .Pictures {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: #232426;
}
.Wrap .Pictures .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1000px;
}
.Wrap .Pictures .inner h1 {
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
  margin-left: 38px;
}
.Wrap .Pictures .inner .content {
  position: relative;
  z-index: 2;
}
.Wrap .Pictures .inner .content .grid .gridItem {
  width: 190px;
  padding: 5px;
}
.Wrap .Pictures .inner .content .grid .gridItem img {
  vertical-align: bottom;
  width: 100%;
}
.Wrap .Pashalist {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: url("../i/bg_02_l.png");
}
.Wrap .Pashalist .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.Wrap .Pashalist .inner .content {
  position: relative;
  z-index: 2;
}
.Wrap .Pashalist .inner .content .top5 {
  padding-bottom: 32px;
  padding-top: 31px;
  width: 730px;
  background: #fff;
  float: left;
  padding-top: 21px;
}
.Wrap .Pashalist .inner .content .top5 h1 {
  padding-left: 39px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist {
  margin-top: -62px;
  margin-left: 32px;
  margin-right: 32px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem {
  padding-top: 21px;
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #fff;
  position: relative;
  padding: 25px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem:nth-child(odd) {
  background: url("../i/bg_03-1_l.png");
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem:nth-child(even) {
  background: url("../i/bg_03-2_l.png");
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 {
  zoom: 1;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:before,
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:after {
  content: "";
  display: table;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:after {
  clear: both;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 {
  width: 130px;
  height: 130px;
  float: left;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 .photo {
  vertical-align: bottom;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 .photo img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 0px #b1b0b0;
  box-shadow: 0px 2px 0px #b1b0b0;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 {
  width: 450px;
  float: right;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .username {
  font-size: 30px;
  color: #656565;
  font-weight: bold;
  line-height: 1;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .address {
  font-size: 17px;
  color: #656565;
  line-height: 1.765;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .summary {
  padding-top: 13px;
  padding-left: 36px;
  background: url("../i/top5pashalist-quote.png") no-repeat;
  font-size: 13px;
  color: #656565;
  line-height: 1.615;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 {
  height: 30px;
  zoom: 1;
  margin-top: 10px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:before,
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:after {
  content: "";
  display: table;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:after {
  clear: both;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-1 {
  float: left;
  width: 130px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-1 .favorites {
  padding-left: 30px;
  background: url("../i/top5pashalist-heart.png") no-repeat;
  background-position: left center;
  font-size: 24px;
  color: #656565;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 {
  float: right;
  width: 450px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .photos {
  font-size: 24px;
  color: #656565;
  font-weight: bold;
  background: url("../i/top5pashalist-photos.png") no-repeat;
  background-position: left center;
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials {
  margin-left: 10px;
  background: url("../i/top5pashalist-slash2.png") no-repeat;
  background-position: left center;
  text-align: right;
  padding-left: 30px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a {
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a img {
  vertical-align: middle;
}
.Wrap .Pashalist .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a:first-child {
  margin-left: 0;
}
.Wrap .Pashalist .inner .content .others {
  width: 253px;
  float: right;
  margin-top: 30px;
}
.Wrap .Pashalist .inner .content .others h1 img {
  vertical-align: bottom;
}
.Wrap .Pashalist .inner .content .others ul {
  background: #313131;
}
.Wrap .Pashalist .inner .content .others ul li {
  position: relative;
  border-bottom: 1px solid #3a3a3a;
  padding: 13px;
  overflow: hidden;
}
.Wrap .Pashalist .inner .content .others ul li .box1 {
  zoom: 1;
}
.Wrap .Pashalist .inner .content .others ul li .box1:before,
.Wrap .Pashalist .inner .content .others ul li .box1:after {
  content: "";
  display: table;
}
.Wrap .Pashalist .inner .content .others ul li .box1:after {
  clear: both;
}
.Wrap .Pashalist .inner .content .others ul li .box1 .box1-1 {
  float: left;
  width: 40px;
}
.Wrap .Pashalist .inner .content .others ul li .box1 .box1-1 .photo img {
  vertical-align: bottom;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.9);
  box-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}
.Wrap .Pashalist .inner .content .others ul li .box1 .box1-2 {
  float: right;
  width: 172px;
}
.Wrap .Pashalist .inner .content .others ul li .box1 .box1-2 .username {
  color: #fff;
  font-size: 17px;
}
.Wrap .Pashalist .inner .content .others ul li .box1 .box1-2 .favorites {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  background: url("../i/pashalist-heart.png") no-repeat;
  background-position: left center;
  padding-left: 20px;
}
.Wrap .Pashalist .inner .content .others ul li .box2 .summary {
  margin-top: 10px;
  color: #989898;
  font-size: 11px;
  line-height: 1.455;
}
.Wrap .Pashalist .inner .content .others .viewall {
  text-align: right;
}
.Wrap .Tutorials {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: url("../i/bg_02_l.png");
}
.Wrap .Tutorials .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.Wrap .Tutorials .inner .content {
  position: relative;
  z-index: 2;
}
.Wrap .Tutorials .inner .content .top5 {
  padding-bottom: 32px;
  padding-top: 31px;
  width: 730px;
  background: #fff;
  float: left;
  padding-top: 21px;
}
.Wrap .Tutorials .inner .content .top5 h1 {
  padding-left: 39px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist {
  margin-top: -62px;
  margin-left: 32px;
  margin-right: 32px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem {
  padding-top: 21px;
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #fff;
  position: relative;
  padding: 25px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem:nth-child(odd) {
  background: url("../i/bg_03-1_l.png");
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem:nth-child(even) {
  background: url("../i/bg_03-2_l.png");
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 {
  zoom: 1;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:before,
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:after {
  content: "";
  display: table;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1:after {
  clear: both;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 {
  width: 130px;
  height: 130px;
  float: left;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 .photo {
  vertical-align: bottom;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-1 .photo img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 0px #b1b0b0;
  box-shadow: 0px 2px 0px #b1b0b0;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 {
  width: 450px;
  float: right;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .username {
  font-size: 30px;
  color: #656565;
  font-weight: bold;
  line-height: 1;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .address {
  font-size: 17px;
  color: #656565;
  line-height: 1.765;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box1 .box1-2 .summary {
  padding-top: 13px;
  padding-left: 36px;
  background: url("../i/top5pashalist-quote.png") no-repeat;
  font-size: 13px;
  color: #656565;
  line-height: 1.615;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 {
  height: 30px;
  zoom: 1;
  margin-top: 10px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:before,
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:after {
  content: "";
  display: table;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2:after {
  clear: both;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-1 {
  float: left;
  width: 130px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-1 .favorites {
  padding-left: 30px;
  background: url("../i/top5pashalist-heart.png") no-repeat;
  background-position: left center;
  font-size: 24px;
  color: #656565;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 {
  float: right;
  width: 450px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .photos {
  font-size: 24px;
  color: #656565;
  font-weight: bold;
  background: url("../i/top5pashalist-photos.png") no-repeat;
  background-position: left center;
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials {
  margin-left: 10px;
  background: url("../i/top5pashalist-slash2.png") no-repeat;
  background-position: left center;
  text-align: right;
  padding-left: 30px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a {
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a img {
  vertical-align: middle;
}
.Wrap .Tutorials .inner .content .top5 .top5pahsalistlist .top5pahsalistlistitem .box2 .box2-2 .socials a:first-child {
  margin-left: 0;
}
.Wrap .Tutorials .inner .content .others {
  width: 253px;
  float: right;
  margin-top: 30px;
}
.Wrap .Tutorials .inner .content .others h1 img {
  vertical-align: bottom;
}
.Wrap .Tutorials .inner .content .others ul {
  background: #313131;
}
.Wrap .Tutorials .inner .content .others ul li {
  position: relative;
  border-bottom: 1px solid #3a3a3a;
  padding: 13px;
  overflow: hidden;
}
.Wrap .Tutorials .inner .content .others ul li .box1 {
  zoom: 1;
}
.Wrap .Tutorials .inner .content .others ul li .box1:before,
.Wrap .Tutorials .inner .content .others ul li .box1:after {
  content: "";
  display: table;
}
.Wrap .Tutorials .inner .content .others ul li .box1:after {
  clear: both;
}
.Wrap .Tutorials .inner .content .others ul li .box1 .box1-1 {
  float: left;
  width: 40px;
}
.Wrap .Tutorials .inner .content .others ul li .box1 .box1-1 .photo img {
  vertical-align: bottom;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.9);
  box-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}
.Wrap .Tutorials .inner .content .others ul li .box1 .box1-2 {
  float: right;
  width: 172px;
}
.Wrap .Tutorials .inner .content .others ul li .box1 .box1-2 .username {
  color: #fff;
  font-size: 17px;
}
.Wrap .Tutorials .inner .content .others ul li .box1 .box1-2 .favorites {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  background: url("../i/pashalist-heart.png") no-repeat;
  background-position: left center;
  padding-left: 20px;
}
.Wrap .Tutorials .inner .content .others ul li .box2 .summary {
  margin-top: 10px;
  color: #989898;
  font-size: 11px;
  line-height: 1.455;
}
.Wrap .Tutorials .inner .content .others .viewall {
  text-align: right;
}
.Wrap .Onlineshop {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: #232426;
}
.Wrap .Onlineshop .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.Wrap .Onlineshop .inner h1 {
  margin-left: 41px;
}
.Wrap .Onlineshop .inner ul {
  margin-top: -89px;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 32px;
  zoom: 1;
}
.Wrap .Onlineshop .inner ul:before,
.Wrap .Onlineshop .inner ul:after {
  content: "";
  display: table;
}
.Wrap .Onlineshop .inner ul:after {
  clear: both;
}
.Wrap .Onlineshop .inner ul li {
  float: left;
  background: #fff;
  width: 304px;
  margin-right: 14px;
  margin-bottom: 14px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.Wrap .Onlineshop .inner ul li .photo {
  width: 304px;
  height: 207px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.Wrap .Onlineshop .inner ul li .photo img {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  vertical-align: bottom;
  width: 100%;
  margin-top: -10px;
}
.Wrap .Onlineshop .inner ul li .name {
  margin-top: 19px;
  margin-left: 14px;
  margin-right: 14px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  line-height: 1.15;
  padding-bottom: 7px;
  border-bottom: 1px solid #b7b7b7;
}
.Wrap .Onlineshop .inner ul li .summary {
  margin-left: 14px;
  margin-right: 14px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 10px;
}
.Wrap .Onlineshop .inner ul li .price {
  margin-top: 23px;
  font-size: 20px;
  padding-left: 14px;
  background: url("../i/bg_04_l.png") #b9b9ba;
  padding-top: 9px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e0e0e1;
  color: #333;
  font-weight: bold;
  line-height: 0.9;
  text-shadow: 0.5px 0.866px 0px #fff;
  -moz-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  position: relative;
}
.Wrap .Onlineshop .inner ul li .price a.cart {
  position: absolute;
  top: -13px;
  left: 220px;
}
.Wrap .Onlineshop .inner ul li .productCode {
  margin: 9px 14px 9px;
  font-size: 10px;
  color: #333;
  line-height: 2.2;
  -moz-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
}
.Wrap .Books {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background: #232426;
}
.Wrap .Books .inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.Wrap .Books .inner h1 {
  margin-left: 41px;
}
.Wrap .Books .inner ul {
  margin-top: -89px;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 32px;
  zoom: 1;
}
.Wrap .Books .inner ul:before,
.Wrap .Books .inner ul:after {
  content: "";
  display: table;
}
.Wrap .Books .inner ul:after {
  clear: both;
}
.Wrap .Books .inner ul li {
  float: left;
  background: #fff;
  width: 304px;
  margin-right: 14px;
  margin-bottom: 14px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.Wrap .Books .inner ul li .photo {
  width: 304px;
  height: 207px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.Wrap .Books .inner ul li .photo img {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  vertical-align: bottom;
  width: 100%;
  margin-top: -10px;
}
.Wrap .Books .inner ul li .name {
  margin-top: 19px;
  margin-left: 14px;
  margin-right: 14px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  line-height: 1.15;
  padding-bottom: 7px;
  border-bottom: 1px solid #b7b7b7;
}
.Wrap .Books .inner ul li .summary {
  margin-left: 14px;
  margin-right: 14px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 10px;
}
.Wrap .Books .inner ul li .price {
  margin-top: 23px;
  font-size: 20px;
  padding-left: 14px;
  background: url("../i/bg_04_l.png") #b9b9ba;
  padding-top: 9px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e0e0e1;
  color: #333;
  font-weight: bold;
  line-height: 0.9;
  text-shadow: 0.5px 0.866px 0px #fff;
  -moz-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  position: relative;
}
.Wrap .Books .inner ul li .price a.cart {
  position: absolute;
  top: -13px;
  left: 220px;
}
.Wrap .Books .inner ul li .productCode {
  margin: 9px 14px 9px;
  font-size: 10px;
  color: #333;
  line-height: 2.2;
  -moz-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.00606808472788, 0, 0);
}
.Wrap .Sponsorship {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}
.Wrap .Sponsorship div.inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1048px;
}
.Wrap .Sponsorship div.inner h1 {
  margin-left: 58px;
}
.Wrap .Sponsorship div.inner .content {
  position: relative;
  z-index: 2;
}
.Wrap .Sponsorship div.inner .content ul {
  margin-top: -79px;
  zoom: 1;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Wrap .Sponsorship div.inner .content ul:before,
.Wrap .Sponsorship div.inner .content ul:after {
  content: "";
  display: table;
}
.Wrap .Sponsorship div.inner .content ul:after {
  clear: both;
}
.Wrap .Sponsorship div.inner .content ul li {
  float: left;
  margin-right: 14px;
  margin-bottom: 17px;
}
.Wrap .Sponsorship div.inner .content ul li:nth-child(3n) {
  margin-right: 0;
}
.Wrap .Author {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}
.Wrap .Author div.inner {
  width: 1005px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1048px;
}
.Wrap .Author div.inner h1 {
  margin-left: 58px;
}
.Wrap .Author div.inner .content {
  position: relative;
  z-index: 2;
}
.Wrap .Author div.inner .content ul {
  margin-top: -79px;
  zoom: 1;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Wrap .Author div.inner .content ul:before,
.Wrap .Author div.inner .content ul:after {
  content: "";
  display: table;
}
.Wrap .Author div.inner .content ul:after {
  clear: both;
}
.Wrap .Author div.inner .content ul li {
  float: left;
  margin-right: 14px;
  margin-bottom: 17px;
}
.Wrap .Author div.inner .content ul li:nth-child(3n) {
  margin-right: 0;
}
.Wrap .PageTop {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  text-align: center;
}
.Wrap footer {
  background: #232426;
  height: 91px;
}
.Wrap footer .inner {
  width: 1005px;
  margin: 0 auto;
}
.Wrap footer .inner p {
  text-align: right;
  line-height: 91px;
  color: #fff;
  font-size: 10px;
  color: #dedede;
}
.Visual > p > img {
  width: 1280px;
  height: 870px;
}
